@import '../atoms/variables';

.card {
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: $color-opal;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screen-lg) {
    padding: 2.5rem 2.5rem 2rem;
  }
}

.card__title {
  color: $color-darkgrey;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
}
