@import '../atoms/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0;
  background-color: $color-egg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  min-height: 70px;
}

.nav-icon {
  margin: 1em;
  width: 40px;
  display: none;
  cursor: pointer;

  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

.nav-hamburger {
  display: none;

  @media screen and (max-width: $screen-sm) {
    display: flex;
  }
}

.nav-icon::after,
.nav-icon::before,
.nav-icon div {
  background-color: $color-ash;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.nav-link {
  display: flex;

  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.nav-hidden {
  display: none;

  &--opened {
    @media screen and (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }

    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
