@import '../atoms/variables';

.language-chooser {
  color: $color-darkgrey;

  a {
    color: $color-darkgrey;
    font-size: 16px;
    font-weight: bold;
  }

  a:hover {
    color: $color-white;
  }
}
