@import '../atoms/variables';

.all-stats {
  .table {
    width: 100%;
  }

  .all-stats-id {
    width: 10%;
  }

  .all-stats-name {
    width: 30%;
  }

  .all-stats-bps,
  .all-stats-selected,
  .all-stats-points {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.all-stats-selectbox-wrapper {
  form {
    display: flex;
    flex-direction: row;
  }
}
