@import "../atoms/variables";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $font-base;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  color: $color-egg;
  background: $color-egg url(../../assets/images/background.png) left top;
  margin-top: 70px;
}

a {
  text-decoration: none;

  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

.hero__title-area {
  padding: 4rem 0;
}
