@import "../atoms/variables";

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: 1px;
  border-radius: 99px;
  color: white;
  background-color: transparent;
  border: solid 2px rgba(#fff, 0.2);
  text-align: center;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: all 150ms;

  &:hover {
    border-color: $color-green;
    color: white;
  }

  &--primary {
    background-color: $color-green;
    border-color: $color-green;

    &:hover {
      color: white;
      background-color: darken($color-green, 5%);
      border-color: darken($color-green, 5%);
    }
  }

  &--secondary {
    background-color: white;
    border-color: white;
    color: $color-darkgrey;

    &:hover {
      background-color: white;
      border-color: white;
      color: $color-green;
    }
  }
}

.btn {
  border-radius: 999px;
}
